/*Start of Navbar Style*/
#navbar{
	padding 0;
	margin: 0;
	position: fixed;
    top: 12px;
    right: 15px;
}
.navtxt{
	display: inline-block;
	list-style-type: none;
	padding-right: 12px;
}
#navbar a{
	display: block;
	text-decoration: none;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}
#navbar a:hover{
	text-decoration: underline;
}
.navimg{
	display: inline-block;
	list-style-type: none;
	padding-right: 13px;
	vertical-align: middle;
	background-color: white;
	opacity: .7;
}
.navimg:hover{
	opacity: 1;
}
#ava{
	display: inline-block;
	list-style-type: none;
	padding-right: 13px;
	vertical-align: middle;
}
/*end of navbar style*/
/*begin content style*/
#content{

}
#logo{
	position: fixed;
	top: 24.5%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#textbar{
	position: fixed;
	top: 33.5%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 568px;
	height: 26px;
	border:solid 1px #d9d9d9;
	border-top:solid 1px #c0c0c0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}
#textbar:hover{
		border:solid 1px #b0b0b0;
		border-top:solid 1px #b0b0b0;
}
#textbar:focus{
	border:solid 1px #00aeef;
	border-top:solid 1px #00aeef;
	outline: none;
}
#search{
	position: fixed;
	top: 38%;
	left: 46.7%;
	transform: translate(-50%, -50%);
	height: 29px;
	width: 96px;
	border:solid 1px #d9d9d9;
	background: #eeeeee;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}
#lucky{
	position: fixed;
	top: 38%;
	left: 53%;
	transform: translate(-50%, -50%);
	height: 29px;
	width: 111px;
	border:solid 1px #d9d9d9;
	background: #eeeeee;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}
#search:hover{
	border:solid 1px #c0c0c0;
}
#lucky:hover{
	border:solid 1px #c0c0c0;
}
#mic{
	position: fixed;
	top: 33.5%;
	left: 64%;
	transform: translate(-50%, -50%);
	background-color: white;
	opacity: .7;
}
#mic:hover{
	opacity: .85;
}
/*end of content style*/
#footer{
	
}